* {
    padding: 0;
    margin: 0;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

html {
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #F5F5F5;

}

.pTop {
    padding-top: 3em;
}


/* Main nav */
nav {
    background-color: white;
    text-align: right;
    padding: 5em;
}

nav li {
    display: inline-block;
}

nav li a {
    color: gray;
    padding: 1.5em;
    text-decoration: none;
    font-family: arial;
}

.imglogo {
    height: 5em;
}

/*Main nav*/

.fleft {
    float: left;
}

.fright {
    float: right;
}

/*Section 1*/

.imgBGDiamond {
    width: 12%;
    margin-left: 37em;
    margin-top: 5em;
    margin-bottom: 1em;
}

.imgcenter1 {
    margin: 0 auto;
}

.bg1 {
    background-image: url("img/banner.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    height: 40em;
}

.white {
    color: white;
}

.btnVerProyecto {
    margin-top: 4em;
    margin-left: 42.5em;
    background-color: #F8F8F8;
    outline: none;
    border-color: white;
    border-width: 0.1em;
    padding: 1em 5em;
    border-radius: 1em;

}

/*    background-color: transparent;
    outline: none;
    color: white;
    border-color: white;
    border-width: 0.1em;
    padding: 1em;
    border-radius: 0.5em;*/

/*Section 1*/

/*Section 2*/

.nav2 {
    color: gray;
    background-color: #F5F5F5;

}

.center {
    text-align: center;
}

.gray {
    color: gray;
}

.nav2 li {
    padding-right: 1.5em;
}

.sizebox {
    width: 25%;
}

.lstImg {
    width: 20%;
}

.txtProject {
    margin-bottom: 1em;
    margin-top: 2em;
}

/*Section 2*/

/*Section 3*/
.pInfo {
    padding: 2em;
}

/* .firstrow,
.secondrow {
    overflow: auto;
} */

.mision {
    width: 50%;
}

.vision {
    width: 50%;
}

.imgSion {
    margin-left: 11em;
    margin-bottom: 2em;
}

.h2Sion {
    margin-bottom: 1em;
}

.btnSion {
    margin: 2em;
    margin-left: 45em;
    background-color: transparent;
    outline: none;
    border-color: black;
    color: black;
    border-width: 0.1em;
    padding: 1em 3em;
    border-radius: 0.5em;
}

/*Section 3*/

/*Section 4*/
.testimonios {
    background-image: url("img/testimonio.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    height: 23em;
}

.quote {
    width: 12%;
    margin: 3em;
}

.txtTest {
    padding-left: 15em;
    padding-right: 15em;
    padding-top: 3em;
}

/*Section 4*/

/*Footer*/
.bgImgFoot {
    background-image: url("/img/footer.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    height: 37em;
}

/*Empresas */
.imgEmp {
    margin: 4em;
    margin-left: 8em;
}

.imgEmp2 {
    margin-top: 0em;
    margin-left: 13em;
    margin-right: 0em;
    margin-bottom: 2em;
}

/*Empresas */
/*Redes Sociales*/

.hrRedes {
    width: 55%;
    margin: 0 auto;
}

.groupTwo {
    margin-left: 5em;
}

.imgSocial {
    width: 15%;
}

.imagesSocial {
    margin-top: 1em;
    margin-left: 34em;
}

/*Redes Sociales*/

/*Contacto*/
.logoFooter {
    width: 15%;
    margin-top: 16em;
    margin-left: 12em;
}

.infoContact {
    margin-right: 10em;
}

.pFooter {
    margin-top: 18em;
}

.mImgFoot {
    margin-right: 0.5em;
}

/*Contacto*/
/*Footer*/

@media (max-width: 767px) {
    .imgBGDiamond {
        width: 25%;
        margin-left: 10em;
        margin-top: 5em;
        margin-bottom: 1em;
    }

    .btnVerProyecto {
        margin-top: 2em;
        margin-left: 9.7em;
    }

    .firstrow,
    .secondrow {
        padding-left: 3em;
    }

    .txtTest {
        padding-top: 1em;
        padding-right: 0em;
        padding-left: 0em;
    }

    .btnSion {
        margin-top: 2em;
        margin-left: 12em;
    }

    .sizebox {
        width: 100%;
    }

    .mision {
        width: 100%;
    }

    .vision {
        width: 100%;
    }

    .imgSion {
        margin-left: 3em;
        margin-bottom: 2em;
        margin-top: 2em;
    }

    .quote {
        width: 8%;
    }

    .imgEmp2 {
        margin: 4em;
        margin-left: 3em;
    }

    .emp {
        margin-left: 3.7em;
    }


    .logoFooter {
        width: 50%;
        margin-top: 10em;
        margin-left: 7em;
    }


    .mImgFoot {
        margin-right: 0em;
    }

    .pFooter {
        margin: 0 auto;
        margin-top: 3em;
    }
    .nav2{
        padding-right: 0em;
    }
    .nav2 li {
        margin-top: 1em;
    }
}